paper.aux
paper.bbl
paper.blg
paper.log
paper.out
paper.spl
nohup.out
paper.synctex.gz
.paper.tex.swp
paper.upa
paper.upb
#letter.tex#
FGCS-S-16-00602.pdf
answers.aux
answers.log
answers.out
answers.pdf
answers.tex~
figures/CBRAIN-FSL-eps-converted-to.pdf
figures/CBRAIN-FSL.pdf
figures/CBRAIN-PSOM-eps-converted-to.pdf
figures/CBRAIN-PSOM.pdf
figures/Tavaxy-eps-converted-to.pdf
figures/VIP-eps-converted-to.pdf
figures/VIP.pdf
figures/agent.pdf
figures/import-1.pdf
figures/import-2.pdf
figures/nested-1.pdf
figures/nested-2.pdf
figures/nested-3.pdf
figures/notations.pdf
figures/service.pdf
figures/shiwa-science-gateway.eps
figures/shiwa-science-gateway.ps
figures/shiwa-science-gateway.svg
figures/sub-task.pdf
figures/tight.pdf
letter.aux
letter.log
letter.out
letter.pdf
paper-annotated.pdf
x.log
#letter.tex#

